*.log
*.out

# benchmarks
analysis1/
analysis2/
analysis3/
analysis_opt/

klee/
klee-float-sampling/
klee-float-solver_1/
klee-float-solver_3/
nlopt/
fpse_build/
z3-4.13.0/
cvc5-1.1.2/
nlopt2/src/algs/mocea/
nlopt2/src/algs/mocea_ds2/
nlopt2/src/algs/mocea_ds3/
nlopt2/src/algs/mocea_sp2/
nlopt2/src/algs/mocea_sp3/
nlopt2/src/algs/moead_ds/
nlopt2/src/algs/moea_int/
nlopt2/.git/
nlopt2/.gitignore/
qsampler/.git/
qsampler/.gitignore/
qsf/.git/
qsf/.gitignore/
z3-4.6.2/.git/
z3-4.6.2/.gitignore/


# dic
**/.github/
**/.idea/
**/build/
**/build-debug/
**/cmake-build-debug/